@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=BBH+Sans+Hegarty&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.all-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 336px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #FFDC40;
    height: 28px;
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

h1 {
    margin: 13px 0 16px;
    font-size: 26px;
    font-weight: 900;
}

.icon-1 {
    font-size: 20px;
    color: #C4C4C4;
    margin-left: 240px;
    transition: 0.6s;
}

.icon-1:hover {
    color: black;
}

.input-container {
    margin: 8px 0;
    position: relative;
}

.input {
    width: 286px;
    height: 40px;
    border-radius: 10px;
    outline-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    padding: 0 65px 0 20px;
}

.clear {
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 10px;
    color: #C4C4C4;
    transition: 0.3s;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear:hover {
    background-color: #833AE0;
    color: white;
}

.pulus-add {
    display: flex;
    color: white;
    font-size: 14px;
    margin: 13px;
    position: relative; 
}

.pulus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #9953F1;
    position: absolute;
    left: 0;
    right: 5px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border-radius: 72px;
}

.pulus:hover {
    background-color: #AA68FE;
}

.add:hover {
    background-color: #9953F1;
}

.tasks-container {
    width: 286px;
    margin: 5px 20px;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px;
}

.item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
    position: relative;
}
.item:hover {
    border: 1px solid #C4C4C4;
    background-color: rgb(249, 250, 252);
}

.text {
    word-break: break-word;
    margin: 0 50px 0 5px;
}