* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(18, 24, 38);
    color: #F5F7FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container {
    width: 100%;
    max-width: 500px;
    padding: 25px;
}

.container {
    background: rgba(10, 14, 23, 0.9);
    border-radius: 20px;
    padding: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.box {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 130px;
    height: 130px;
    background: linear-gradient(135deg, #6C63FF 0%, #36D1DC 100%);
    border-radius: 50%;
    opacity: 0.15;
    z-index: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.icon-1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 2;
}

.icon-1:hover {
    transform: scale(1.2);
}

.input-container {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 13px;
    padding: 0.6rem 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.input-container:focus-within {
    border-color: white;
    box-shadow: 0 0 20px #ffffff3f;
}

.input {
    flex: 1;
    background: transparent;
    border: none;
    color: #F5F7FF;
    font-size: 0.85rem;
    outline: none;
    padding: 0.5rem 0;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.clear {
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.15rem;
    position: absolute;
    right: 35px;
    top: 15px;
}

.clear:hover {
    transform: scale(1.1);
}

.tasks-container {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 2rem;
    padding-right: 0.5rem;
}

.tasks-container::-webkit-scrollbar {
    width: 3px;
}

.tasks-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.tasks-container::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

.item {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1rem 4.5rem 1rem 1.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    cursor: grab;
    position: relative;
    z-index: 1;
    font-size: 0.9rem;

}

.item:hover {
    border-color: white;
}


.item p:first-child {
    color: white;
}

.text {
    flex: 1;
    color: #F5F7FF;
    word-break: break-word;
}

.delete-btn {
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.2rem;
    opacity: 0.7;
}

.delete-btn:hover {
    opacity: 1;
    transform: scale(1.1);
}

.pulus-add {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
}

.pulus {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color:rgba(10, 14, 23, 0.9);
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.pulus:hover {
    transform: scale(1.1) rotate(90deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}

.add {
    flex: 1;
    background-color: white;
    color: rgba(10, 14, 23, 0.9);
    border: none;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.add:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.4);
}

